general:
  logging:
    console:
      _type: console
      level: WARN

  front_end:
    _type: fastapi

  front_end:
    _type: console

workflow:
  _type: react_agent
  workflow_alias: {{workflow_name}}
  description: "ReAct-based Workflow"
  llm_name: nim_llm
  tool_names: []
