general:
  logging:
    console:
      _type: console
      level: WARN

  front_end:
    _type: fastapi

  front_end:
    _type: console

functions:
  current_datetime:
    _type: current_datetime

llms:
  nim_llm:
    _type: nim
    model_name: meta/llama-3.1-8b-instruct
    temperature: 0.0

workflow:
  _type: react_agent
  workflow_alias: {{workflow_name}}
  description: "ReAct-based Workflow"
  llm_name: nim_llm
  tool_names: [current_datetime]
